.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: auto;
}


/* Add this CSS to center the spinner */
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
/* Styles for the full-screen mode */
.container.full-screen {
    background-color: white;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
   /* min-height: 500px; /* Adjust the height as needed */
}

.pagination-controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 2vh;
  }
  
  .sticky {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 2vh;
    position:sticky; 
    bottom:0px; 
    z-index: 30; 
    background-color:white; 
    padding: 10px;
  }